.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: var(--color-transparent-bg);
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 40px 30px 60px;
    background-color: var(--color-bg);
    border-radius: 2px;
    min-width: 300px;
    position: relative;
}

.modal-button {
    position: absolute;
    right: 10px;
    top: 10px;
}