.button {
    padding: 10px 20px;
    border: 1px solid var(--color-main);
    border-radius: 2px;
    color: var(--color-bg);
    background-color: var(--color-main);
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    transition: all ease-in-out 250ms;
}

.button--small {
    padding: 5px 10px;
}

.button--accent {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

.button:hover {
    opacity: .8;
}

.button:active {
    background-color: var(--color-main);
    border-color: var(--color-main);
}