.link {
    color: var(--color-light);
    text-decoration: none;
    font-size: 18px;
    transition: color 200ms;
    user-select: none;
}

.link--active {
    color: var(--color-accent);
    cursor: default;
}

.link:hover {
    color: var(--color-accent);
}
