.label {
    display: block;
    color: var(--color-light);
    font-family: serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.input {
    display: block;
    border: 1px solid var(--color-light);
    border-radius: 2px;
    padding: 10px;
    width: max(320px, 600px);
    margin-bottom: 20px;
}

.input:focus {
    outline-color: var(--color-main);
}